@model MrAng_Invoice.Models.AccountInfo

@{
    ViewBag.Title = "Change Password";
}

<h2>Change User's Password</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ChangePassword" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Change Password</h4>
        <hr />
        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Current Password:</b>
            </div>
            <div class="col-md-10">
                <input class="form-control" type="password" name="currentPassword" id="currentPassword" required />
                <p style="color:red">@ViewBag.error_message</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Confirm Password:</b>
            </div>
            <div class="col-md-10">
                <input class="form-control" type="password" id="confirmPassword" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-default" onclick="validatePassword()" />
            </div>
        </div>
    </div>
                        }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password == confirmPassword) {
            document.getElementById("ChangePassword").submit();
        } else {
            alert("Password and Confirm Password does not match!");
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
