@model MrAng_Invoice.Models.Invoice_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 1;
}

<h2>Edit @Model.invoice_no</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input class="form-control" id="created_by" name="created_by" type="hidden" value="@Session["name"]" />
    <input class="form-control" id="invoice_id" name="invoice_id" type="hidden" value="@Model.invoice_id" />
    <div class=" row">
        <div class="col-md-1">
            Customer Name:
        </div>
        <div class="col-md-3">
            <div class=" input-group">
                <input class="" id="company_name" name="company_name" type="text" value="@Model.company_name" readonly />
            </div>
        </div>
        <div class="col-md-1">
            Invoice No:
        </div>
        <div class="col-md-3">
            <input class="" id="invoice_no" name="invoice_no" type="text" readonly value="@Model.invoice_no" />
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class=" row">
        <div class="col-md-1">
            Address:
        </div>
        <div class="col-md-3">
            <textarea id="company_address" name="company_address" rows="4" cols="22" class="" readonly>@Model.company_address</textarea>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    Date:
                </div>
                <div class="col-md-9">
                    <input class="" id="created_date" name="created_date" type="text" readonly value="@Model.created_date" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-md-3">
                    Payment Term:
                </div>
                <div class="col-md-9">
                    <input class="" id="payment_term" name="payment_term" type="text" readonly value="@Model.payment_term" />
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-1">
            Attention To:
        </div>
        <div class="col-md-3">
            <input class="" id="attn_to" name="attn_to" type="text" value="@Model.attn_to" readonly />
        </div>
    </div>
    <div class=" row">
        <div class="col-md-1">
            Status:
        </div>
        <div class="col-md-3">
            <select id="status" name="status" value="@Model.status" class="" readonly>
                <option value="@Model.status">@Model.status</option>
            </select>
        </div>
        <div class="col-md-1">
            Remarks:
        </div>
        <div class="col-md-3">
            <textarea id="remarks" name="remarks" cols="22" rows="5" maxlength="500" readonly>@Model.remarks</textarea>
        </div>
        <div class="col-md-3"></div>
    </div>
        <!--Underline-->
        <hr style="border-top: 2px solid #ccc;">
        <div class="row">
            <div class="col-md-1">
                <label>Item No:</label>
            </div>
            <div class="col-md-3">
                <label>Description:</label>
            </div>
            <div class="col-md-1">
                <label>Qty:</label>
            </div>
            <div class="col-md-2">
                <label>Unit Price:</label>
            </div>
            <div class="col-md-1">
                <label>Tax Code:</label>
            </div>
            @if (LoginFunctionView.getUserTypeByUsername(Session["username"].ToString()) == "Admin")
            {
                <div class="col-md-2">
                    <label>Item Cost:</label>
                </div>
                <div class="col-md-2">
                    <label>Item Supplier:</label>
                </div>
            }
            else
            {
                <div class="col-md-4">  </div>
            }
        </div>
        <div id="item_wrapper">
            @for (int i = 0; i < ViewBag.result.Count; i++)
            {

                <input type="hidden" id="invoice_elab_id" name="invoice_elab_id" value="@ViewBag.result[i].invoice_id" />
                <div class="row">
                    <div class="col-md-1">
                        <input id="item_no" maxlength="5" name="item_no" type="text" class="form-control" style="max-width:400px" value="@ViewBag.result[i].item_no" readonly />
                    </div>
                    <div class="col-md-3">
                        <input id="item_description" name="item_description" type="text" class="form-control" style="max-width:400px" value="@ViewBag.result[i].item_description" readonly />
                        <textarea id="item_elaboration" name="item_elaboration" rows="10" cols="40" class="form-control" style="margin-top:5px;max-width:400px" maxlength="1000" readonly>@ViewBag.result[i].item_elaboration</textarea>
                    </div>
                    <div class="col-md-1">
                        <input id="item_qty" name="item_qty" type="number" class="form-control" value="@ViewBag.result[i].item_qty" readonly />
                    </div>
                    <div class="col-md-2">
                        <input id="item_price" name="item_price" type="number" step=".01" class="form-control" value="@ViewBag.result[i].item_price" readonly />
                    </div>
                    <div class="col-md-1">
                        <input id="tax_code" maxlength="5" name="tax_code" type="text" class="form-control" style="max-width:400px" value="@ViewBag.result[i].tax_code" readonly />
                    </div>
                    @if (LoginFunctionView.getUserTypeByUsername(Session["username"].ToString()) == "Admin")
                    {
                        if (ViewBag.result[i].item_cost != null && ViewBag.result[i].item_supplier != null)
                        {
                            <div class="col-md-2">
                                <input id="item_cost" name="item_cost" type="number" step=".01" class="form-control" value="@ViewBag.result[i].item_cost" readonly />
                            </div>
                            <div class="col-md-2">
                                <input type="text" maxlength="100" class="form-control" id="item_supplier" name="item_supplier" value="@ViewBag.result[i].item_supplier" readonly />
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-4">  </div>

                    }
                </div>
                <br>

                counter = counter++;
            }
            <input type="hidden" id="counter" name="counter" value="@counter" />
            </div>
}
<div class="row" style="margin-top:20px">
    @Html.ActionLink("Back to List", "Index")
</div>
